.container
{
    font-weight: 500;
    color: var(--dark-gray);

    margin-bottom: 50px;
    width: 70%;

    display: flex;
    justify-content: space-around;

    background-color: var(--white);
    border-radius: 8px;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1);
}

.container div
{
    padding: 36px 0;
    text-align: center;
}

.container div p:first-child
{
    font-size: 42px;
    color: var(--yellow);
    margin-bottom: 16px;
}