.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000050;

    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: var(--white);
    width: 400px;
    padding: 14px 8px;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cardTitle {
    text-align: center;
    padding-bottom: 10px;
}

.cardButtons {
    margin-top: 14px;
    display: flex;
    justify-content: space-between;
}

.cardOK {
    width: 198px;
}

.cardCancel {
    width: 198px;
    background-color: var(--red);
}

.cardCancel:hover {
    background-color: var(--dark-red);
}

/* Form */
.container form {
    display: flex;
    flex-direction: column;
}

.container label {
    margin-bottom: 10px;
    font-weight: bold;
}

.container input,
.container textarea,
.container select {
    padding: 8px;
    margin-bottom: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.container input[type="file"]{
    width: calc(100% - 18px);
}

.container select {
    width: 100%;
    cursor: pointer;
}

.container button {
    border-radius: 4px;
}

.dateContainer
{
    display: flex;
    justify-content: space-between;
}