.container
{
    display: flex;
    align-items: center;
}

.icon
{
    background-color: var(--green);
    padding: 8px 9px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.icon svg
{
    color: white;
    width: 20px;
}

.info
{
    padding: 0 8px;
}

.info h4
{
    color: var(--yellow);
}

.info p
{
    margin: 0;
    font-size: 14px;
}