:root {
  font-family: Cabin, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: #212121;
  background-color: rgba(255, 255, 255, 0.87);

  --white: #ffffff;
  --gray: #9e9e9e;
  --dark-gray: #717171;
  --cyan: #26e8bd;
  --green: #127c71;
  --dark-green: #126c63;
  --yellow: #ffaf35;
  --pink: #f303ff;
  --purple: #551a8b;
  --blue: #0063ff;
  --black: #0000001f;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
}

a {
  font-weight: 500;
  color: var(--gray);
  text-decoration: inherit;
}
a:hover {
  color: var(--green);
}

input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 8px;
}

input[type="text"],
input[type="number"],
select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
  border-radius: 10px;
  border: 1px solid transparent;
  padding: 0.4em 1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: var(--white);
  background-color: var(--green);
  cursor: pointer;
  transition: background-color 0.2s;
}

button:hover {
  background-color: var(--dark-green);
}

.btn-v2{
  color: var(--green);
  background-color: var(--white);
  border: 2px solid var(--green);
}

.btn-v2:hover{
  background-color: var(--black);
}

.green
{
  color: var(--green);
}